<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <!-- Navigation -->
        <nav th:replace="fragments/nav :: nav">
        </nav>

        <!-- Page Content -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5 mb-3">Dashboard</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered mb-3">
                            <caption>List of Records</caption>
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Device</th>
                                <th scope="col">Application</th>
                                <th scope="col">Package</th>
                                <th scope="col">Apk Version</th>
                                <th scope="col">Camera</th>
                                <th scope="col">Microphone</th>
                                <th scope="col">GPS</th>
                                <th scope="col">Contact</th>
                                <th scope="col">SMS</th>
                                <th scope="col">Memory Card</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tbody id="resources">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <caption>List of Devices</caption>
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Device</th>
                                <th scope="col">MAC</th>
                                <th scope="col">Android Version</th>
                                <th scope="col">Age</th>
                                <th scope="col">Area</th>
                                <th scope="col">Education</th>
                                <th scope="col">Gender</th>
                            </tr>
                            </thead>
                            <tbody id="devices">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/script :: script"></div>
    </body>
</html>