<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
    </head>
    <body>

        <nav th:replace="fragments/nav :: nav">
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5 mb-3">Privacy Policy for Application Scanner</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h2>Privacy Policies</h2>
                    <P>
                        This application is a research support tool developed by
                        Institute of Information Technology (IIT), University of Dhaka.
                        It analyze the access privilege of the installed applications in
                        an android device. It enables you to view the scanned report and allows
                        us for further analysis. No Personally Identifiable Information (PII)
                        is collected by the application. Your participation will be highly
                        appreciated and enrich the research outcome.
                    </p>


                    <h2>Log Files</h2>
                    <p>Application Scanner does not maintain any log or use any personal identifiable information.</p>


                    <h2>Children's Information</h2>

                    <p>The application can be used by a user of any age including children .</p>

                    <h2>Online Privacy Policy Only</h2>

                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our App with regards to the information that they shared and/or collect in Application Scanner. This policy is not applicable to any information collected offline or via channels other than this app. Our Privacy Policy was created with the help of the <a href="https://www.app-privacy-policy.com/app-privacy-policy-generator/">App Privacy Policy Generator from App-Privacy-Policy.com</a></p>

                    <h2>Consent</h2>

                    <p>By using our app, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
                </div>
            </div>
        </div>

    </body>
</html>